.input-task-name {
    background-color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;

    border-left: 1.75px solid #c6c6c6;
    border-bottom: 1.75px solid #c6c6c6;
    border-top: 1.75px solid #c6c6c6;
    border-right: none;
    border-radius: 3.5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    width: 100%;
    padding-left: 1.25rem;

    margin: 0px;
    gap: 0px;

    background: none;

    &:focus {
        outline: none;
    }
}
