.add-task-button {
    color: white;
    background-color: rgba(17, 98, 255, 1);
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;

    min-width: fit-content;

    border-right: 1.75px solid #c6c6c6;
    border-bottom: 1.75px solid #c6c6c6;
    border-top: 1.75px solid #c6c6c6;
    border-left: none;
    border-radius: 3.5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    padding: 1rem 0.75rem;

    margin: 0px;
    gap: 0px;

    &:focus {
        outline: none;
    }
}
