* {
    background-color: #1c1c1c;
}

.input-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    margin: 0px auto;

    width: 75rem;
}

.task-list {
    max-width: calc(75rem - 2rem);
    min-height: 0.625rem;

    margin: 0 auto;
    margin-top: 1.25rem;

    padding: 1rem;
    
    min-height: 2.5rem;
    
    background: white;
    background: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 0.0625rem solid #c6c6c6;
    border-radius: 0.25rem;
    gap: 0.625rem;
}

.task-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-family: 'Courier New', Courier, monospace;
    color: white;

    margin: 0px auto;

    padding: 8px 16px;
    align-self: stretch;

    gap: 0.6rem;
}